**/*.out
*.pyc
nemotron/results*
nemotron/dataset/*
common/nemo/*.tar.gz
common/nemo/*.whl
common/nemo/nsight*
nemotron/common-utils.sh
nemotron/nemo-utils.sh

nemo_megatron/common-utils.sh
nemo_megatron/nemo-utils.sh
nemo_megatron/gsw/*
nemo_megatron/*.patch
index_mapping
_output/
*.tar.gz
*.sqsh
*.swp
*.err
.DS_Store
perf-gaps
results*
gpt3-dataset
maxtext/*results*
maxtext/*logs*
maxtext/*local_train*

scripts/results/
scripts/nvdf/

# cloudperf scripts
recipe-directories.txt 
out/

# run ai deploy script
generated/
*/mysetup.sh
nsys_analysis_build/

# cloned repos
nemotron/0
**/NeMo

*.egg-info
build/
.venv/
.pytest_cache/
.coverage
__pycache__/
llm-benchmarking-collection-internal.cursor-workspace.code-workspace
.vscode/settings.json
