[common]

[common.run_params]
sbatch = [
    "--exclusive",
    "--mem=0",
    "--mail-type=FAIL",
    "--output=%x_%j.out",
    "--comment=sysctl-sys.kernel.numa_balancing=0,transparent_hugepage_defrag=never,transparent_hugepage=never"
]

srun = [
    "-N ${SLURM_JOB_NUM_NODES}",
    "--mpi=pmix",
    "--cpu-bind=none"
]

openmpi = [
    "-np ${LOG_NPS}",
    "-N ${nps}",
    "--map-by ppr:${nps}:node",
    "--oversubscribe",
    "--mca btl tcp,self",
    "--mca btl_tcp_if_include $TCP_IF_INCLUDE",
    "--mca coll_hcoll_enable 0",
    "-x LD_LIBRARY_PATH",
    "-x UCX_TLS=rc,sm",
    "-x UCX_NET_DEVICES=$UCX_NET_DEVICE",
    "--bind-to none"
]

mpich = []

[gb200]

[gb200.labels]
name = "gb200"
network = "IB"
switch = "Quantum3"
nic = "CX7"
gpu_type = "b200"

[gb200.run_params]
sbatch = [
    "--ntasks-per-node=4"
]

nccl = [
    "NCCL_DEBUG=WARN",
    "NCCL_NET_GDR_C2C=1",
    "NCCL_IB_SL=1"
]


[b200]

[b200.labels]
name = "b200"
network = "IB"
switch = "Quantum2"
nic = "CX7"
gpu_type = "b200"

[b200.run_params]
sbatch = [
    "--ntasks-per-node=8"
]
openmpi = [
    "UCX_TLS=tcp",
    "UCX_NET_DEVICE=$TCP_DEVICE",
    "TCP_IF_INCLUDE=$TCP_DEVICE"
]
nccl = [
    "NCCL_DEBUG=WARN",
    "NCCL_NET=IB"
]

[h100]

[h100.labels]
name = "h100"
network = "IB"
switch = "Quantum2"
nic = "CX7"
gpu_type = "h100-DGX"

[h100.run_params]
sbatch = [
    "--ntasks-per-node=8"
]
openmpi = [
    "UCX_NET_DEVICE=mlx5_0:1"
]
nccl = [
    "NCCL_DEBUG=WARN",
    "NCCL_NET=IB"
]
