# NCCL Test Configuration
description = "Allreduce, Allgather, ReduceScatter: NCCL Algo/Proto sweep. Alltoall, Sendrecv: NCCL_NCHANNELS_PER_NET_PEER sweep."
library_name = "nccl"
testset_iterations = 1
test_iterations = 1

[common]
path = "${NCCL_TEST_PATH}"

[common.sweep_envs]
NCCL_DEBUG = "INFO"
NCCL_DEBUG_FILE = "nccl_debug_file.%h.%p.txt"
NCCL_DEBUG_SUBSYS="Graph,Init,Env"


[common.sweep_args]
-t = 1
-g = 1
-f = 2
-n = 20
-w = 5
-b = "8"
-e = "16G"
-d = "float"
-R = 0


[[test]]
name = "all_reduce"
binary = "all_reduce_perf"
envs_merge_strategy = "override"
args_merge_strategy = "override"


[[test]]
name = "all_gather"
binary = "all_gather_perf"
envs_merge_strategy = "override"
args_merge_strategy = "override"


[[test]]
name = "reduce_scatter"
binary = "reduce_scatter_perf"
envs_merge_strategy = "override"
args_merge_strategy = "override"


[[test]]
name = "alltoall"
binary = "alltoall_perf"
envs_merge_strategy = "override"
args_merge_strategy = "override"
[test.sweep_envs]
NCCL_NCHANNELS_PER_NET_PEER = ["1", "2"]
[test.sweep_args]
-d = "uint8"

[[test]]
name = "sendrecv"
binary = "sendrecv_perf"
envs_merge_strategy = "override"
args_merge_strategy = "override"
[test.sweep_envs]
NCCL_NCHANNELS_PER_NET_PEER = ["2", "4"]
[test.sweep_args]
-d = "uint8"